doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="robots" content="follow, index, max-snippet:-1, max-image-preview:large")
        meta(name='description' content='A simple blog written by a Web Developer, for Web Developers. Covering Basics of HTML, CSS, JavaScript, and much more, including Linux and other subjects related to technology.')
        link(rel="icon" type="image/x-icon" href="../assets/icons/favicon.png")
        link(rel='icon' type='application/rss+xml' title='RSS Feed' href='../assets/feed.rss')
        link(rel='stylesheet' type='text/css' href='../css/style.css')
        link(rel='stylesheet' type='text/css' href='../css/blog.css')
    body
        nav
            ul.nav-menu(role="menu")
                li.nav-items(role="menubar")
                    a.icons#contact(aria-label="email" role="menuitem" href="mailto: brianhayes.dev@protonmail.com") contact
                li.nav-items
                    a.icons#folio(aria-label="folio" role="navigation" href="../folio.html") folio
                li.nav-items
                    a.icons#home(aria-label="home" role="navigation" href="/") home
                li.nav-items
                    a.icons#blog(aria-label="blog" role="navigation" href="./") blog
                li.nav-items
                    a.icons#rss(aria-label="rss" role="menuitem" href="../assets/feed.rss") rss
        div.nav-division
        div.nav-text
            ul.nav-text-menu(role="menu")
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-contact(aria-label="email" role="menuitem") email
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-folio(aria-label="folio-text" role="menuitem") folio
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-home(aria-label="home-text" role="menuitem") home
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-blog(aria-label="blog-text" role="menuitem") blog
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-rss(aria-label="rss-text" role="menuitem") rss 
        div.container.fadein
            div.title
                div.title-card
                    header Blog Entries
                    div.subtitle Documenting My Learning Journey
                    div.aside Established 2023-05-08
            article.demo-button
            .blog-menu-header
                .blog-header-icon.icons#laptop
                h1.blog-header &#160;
            .blog-division
                ul.blog-menu
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./the_readme.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./the_readme.html") The ReadMe
                        .blog-pub-date Published on 2023-01-13
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./git_basics.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./git_basics.html") Git Basics
                        .blog-pub-date Published on 2023-01-11
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./espanso.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./espanso.html") Espanso
                        .blog-pub-date Published on 2023-01-11
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./ortholinear_keyboards.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./ortholinear_keyboards.html") Ortholinear Keyboards
                        .blog-pub-date Published on 2022-12-18
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./command_line.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./command_line.html") Command Line
                        .blog-pub-date Published on 2022-11-05
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./the_keys_that_bind.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./the_keys_that_bind.html") The Keys That Bind
                        .blog-pub-date Published on 2022-11-13
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./musings_on_vim.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./musings_on_vim.html") Musings On Vim
                        .blog-pub-date Published on 2022-11-08
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./why_use_linux.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./why_use_linux.html") Why Use Linux 
                        .blog-pub-date Published on 2022-11-06
                    li.blog-item
                        a.blog-icon.icons#blog-pencil(aria-label="blog" role="navigation" href="./one_with_the_keyboard.html")
                        .blog-title
                        a.blog-item-title(aria-label="blog" role="navigation" href="./one_with_the_keyboard.html") One With The Keyboard 
                        .blog-pub-date Published on 2022-11-04
        .placeholder
        div.foot-arrows
            button.icons#up-arrow(title="back to top" aria-label="back-to-top" alt="back to top" role="navigation")
        footer(role="menu")
            div.foot-text
                ul.foot-text-menu(role="menu")
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-sun(aria-label="light-mode-text" role="menuitem") light
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-git(aria-label="git-text" role="menuitem") git
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-linkedin(aria-label="linkedin-text" role="menuitem") linkedin
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-mastodon(aria-label="mastodon-text" role="menuitem") social
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-moon(aria-label="dark-mode-text" role="menuitem") dark
            div.foot-division
            ul.foot-menu(role="menu")
                li.foot-items
                    button.footer-button#sun-button
                        div.icons#sun(aria-label="light-mode" role="button") light
                li.foot-items(role="menuitem")
                    a.icons#git(aria-label="git" role="link" target="_blank" rel="noopener noreferrer" href="https://github.com/tomit4") git
                li.foot-items(role="menuitem")
                    a.icons#linkedin(aria-label="linkedin" target="_blank" rel="noopener noreferrer" role="link" href="https://linkedin.com/in/brian-hayes-33496067") linkedin
                li.foot-items(role="menuitem")
                    a.icons#mastodon(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://mas.to/@brianhayesdev") social
                li.foot-items(role="menuitem")
                    button.footer-button#moon-button
                        div.icons#moon(aria-label="dark-mode" role="button") dark
        script(src="../index.js" default)
