doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="robots" content="follow, index, max-snippet:-1, max-image-preview:large")
        meta(name='description' content='A simple blog written by a Web Developer, for Web Developers. Covering Basics of HTML, CSS, JavaScript, and much more, including Linux and other subjects related to technology.')
        script(src="../toggle-temp.js")
        link(rel="icon" type="image/x-icon" href="../assets/icons/favicon.png")
        link(rel='icon' type='application/rss+xml' title='RSS Feed' href='../assets/feed.rss')
        link(rel='stylesheet' type='text/css' href='../css/style.css')
        link(rel="preload" href="../css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="../css/style.css")
    body
        nav
            ul.nav-menu(role="menu")
                li.nav-items(role="menuitem")
                    a.icons#contact(aria-label="email" role="menuitem" href="mailto: brianhayes.dev@protonmail.com") contact
                li.nav-items(role="menuitem")
                    a.icons#folio(aria-label="folio" role="navigation" href="../folio.html") folio
                li.nav-items(role="menuitem")
                    a.icons#home(aria-label="home" role="navigation" href="../index.html") home
                li.nav-items(role="menuitem")
                    a.icons#blog(aria-label="blog" role="navigation" href="/blog/") blog
                li.nav-items(role="menuitem")
                    a.icons#rss(aria-label="rss" role="menuitem" href="../assets/feed.rss") rss
        div.nav-division
        div.nav-text
            ul.nav-text-menu(role="menu")
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-contact(aria-label="email" role="menuitem") email
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-folio(aria-label="folio-text" role="menuitem") folio
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-home(aria-label="home-text" role="menuitem") home
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-blog(aria-label="blog-text" role="menuitem") blog
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-rss(aria-label="rss-text" role="menuitem") rss 
        div.container.fadein
            div.arrows
                a.icons#left-arrow(aria-label="previous" role="navigation" href="")
                a.icons#right-arrow(aria-label="next" role="navigation" href="")
            div.arrows-text
                span.arrow-text#text-left-arrow prev
                span.arrow-text#text-right-arrow next
            main.title
                div.title-card
                    header JavaScript
                    div.subtitle The Web's Muscles
                    div.aside Published on 
                        time(datetime="2023-06-25") 2023-06-25
                picture(role="img")
                    source(media="(min-width: 62.5em)" srcset="../assets/images/intro_images/start_100m_desktop.jpg")
                    source(media="(min-width: 37.5em)" srcset="../assets/images/intro_images/start_100m_tablet.jpg")
                    img.intro-image(src="../assets/images/intro_images/start_100m_mobile.jpg" alt="A 100M Dash in Lisse, Zuid-Holland, circa 1968" title="A 100M Dash in Lisse, Zuid-Holland, circa 1968" cite="https://commons.wikimedia.org/wiki/File:Start_100m_dames._Lidy_Makkinje-Vonk,_Corrie_Bakker,_Wilma_van_der_Berg,_C._Civa,_Bestanddeelnr_921-3633.jpg?useskin=vector")
                figcaption A 100M Dash in Lisse, Zuid-Holland, circa 1968
                blockquote(cite="https://pdfroom.com/books/you-dont-know-js-async-performance/zW5n16ox2Nq") &#8220The only thing worse than not knowing why some code breaks is not knowing why it worked in the first place! It's the classic &#8216house of cards&#8217 mentality: &#8216it works, but I'm not sure why, so nobody touch it!&#8217 You may have heard, &#8216Hell is other people&#8127 (Sartre), and the programmer meme twist, &#8216Hell is other people's code.&#8217 I believe truly: &#8216Hell is not understanding my own code.&#8217 &#8221
                    div.quote_author -Kyle Simpson
            article.demo-button
                h1 Introduction
                p You may have noticed that this article's publish date is far later than my previous article on <a class="inline-link" aria-label="link to article, css, the web's makeup" role="link" href="./css_the_webs_makeup.html">CSS: The Web's Makeup</a>. While this is mainly due to other responsibilities which have as of recent required my attention, I must also admit that I have been a bit intimidated on writing on the subject of JavaScript. JavaScript is the first programming language I ever learned, and I am still continuing to learn it. Thusly, I don't yet feel I have any authority to write on the subject of JavaScript, even in the context of this article, which is meant as an introduction.
                p Nevertheless, in the context of introducing you, the reader, to the general tools of the web, I cannot avoid talking on the incredibly large role JavaScript has played in bringing the web to the state it is in today. I have come across many social media posts that joke/deride JavaScript for no longer being a programming language reserved solely to realm of the web, but rather has pervaded into every facet of the computer world. 
                p Indeed with the arrival of the JavaScript runtime, NodeJS, the Electron Software Framework, and React Native Framework, JavaScript has made its way from being a simple scripting language meant solely to add small bits of interactivity to web pages, to a full fledged programming language that can interact with native C libraries directly on your computer, interact with User Interface libraries to write desktop applications, and even write platform agnostic mobile applications. It is not an understatement to say that JavaScript is everywhere!
                p Perhaps you might now understand my reluctance to cover such a vast subject, as a single article, even one that attempts to be an introduction to the very basic aspects of the language. Entire blogs, books, videos, and podcasts revolve around JavaScript and the ecosystem around it. JavaScript is both beloved and hated by programmers for a wide variety of reasons, sometimes justified, sometimes not. JavaScript is one of the most popular programming languages in the world due to its ubiquity within the world of web development, and thusly even if it is not one's intent to become a web developer, it is in my humble opinion that it is worthwhile for anyone looking to create any substantial application on the web to at least have a basic familiarity with its syntax, especially when it comes to how it interacts with the Document Object Model.
                p This will certainly not be my only article written which involves JavaScript in the context of programming, and I am sure to not cover the entirety of the JavaScript programming language in this short article. Nevertheless I hope to give you a basic introduction to the basics of programming in this article through JavaScript. This will include the basics of variable declaration and usage, boolean statements, conditionals, function declarations, arrays, objects, and finally basic interactions with the console and document objects. I'll also endeavor to give a brief summary on the history of JavaScript and towards the end, we will utilize JavaScript to demonstrate basic interactivity on a web page.
            div.foot-arrows
                button.icons#up-arrow(title="back to top" aria-label="back-to-top" alt="back to top" role="navigation")
        footer(role="menu")
            div.foot-text
                ul.foot-text-menu(role="menu")
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-sun(aria-label="light-mode-text" role="menuitem") light
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-git(aria-label="git-text" role="menuitem") git
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-linkedin(aria-label="linkedin-text" role="menuitem") linkedin
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-mastodon(aria-label="mastodon-text" role="menuitem") social
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-moon(aria-label="dark-mode-text" role="menuitem") dark
            div.foot-division
            ul.foot-menu(role="menu")
                li.foot-items(role="menuitem")
                    button.footer-button#sun-button
                        div.icons#sun(aria-label="light-mode" role="button") light
                li.foot-items(role="menuitem")
                    a.icons#git(aria-label="git" role="link" target="_blank" rel="noopener noreferrer" href="https://github.com/tomit4") git
                li.foot-items(role="menuitem")
                    a.icons#linkedin(aria-label="linkedin" target="_blank" rel="noopener noreferrer" role="link" href="https://linkedin.com/in/brian-hayes-33496067") linkedin
                li.foot-items(role="menuitem")
                    a.icons#mastodon(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://mas.to/@brianhayesdev") social
                li.foot-items(role="menuitem")
                    button.footer-button#moon-button
                        div.icons#moon(aria-label="dark-mode" role="button") dark
        script(src="../index.js" defer default)
