doctype html
html(lang = "en")
    head
        title brianhayes.dev/about
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="icon" type="image/x-icon" href="assets/icons/favicon.png")
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        nav
            a(aria-label="about" role="link" href="./") Home Page
        div.title
            h1 About Page
            div.aside Published on 2023-05-08
        article
            p A basic paragraph tag in about page
        footer
            a(aria-label="about" role="link" href="./") Home Page
        script(src="./index.js" default)
