doctype html
html(lang = "en")
    head
        title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        h1 About Page
        a(aria-label="about" role="link" href="./") Home Page
        article.container
            p A basic paragraph tag in about page
html
