doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='A simple blog written by a Web Developer, for Web Developers. Covering Basics of HTML, CSS, JavaScript, and much more, including Linux and other subjects related to technology.')
        link(rel='icon' type='image/x-icon' href='assets/icons/favicon.png')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='stylesheet' type='text/css' href='css/folio.css')
    body.folio
        nav
            ul.nav-menu(role="menu")
                li.nav-items(role="menubar")
                    a.icons#contact(aria-label="email" role="menuitem" href="mailto: brianhayes.dev@protonmail.com") contact
                li.nav-items
                    a.icons#folio(aria-label="folio" role="navigation" href="./folio.html") folio
                li.nav-items
                    a.icons#home(aria-label="home" role="navigation" href="/") home
                li.nav-items
                    a.icons#blog(aria-label="blog" role="navigation" href="./blog/") blog
                li.nav-items
                    a.icons#rss(aria-label="rss" role="menuitem" href="./assets/feed.rss") rss
        div.nav-division
        div.nav-text
            ul.nav-text-menu(role="menu")
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-contact(aria-label="email" role="menuitem") email
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-folio(aria-label="folio-text" role="menuitem") folio
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-home(aria-label="home-text" role="menuitem") home
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-blog(aria-label="blog-text" role="menuitem") blog
                li.nav-text-items(role="menubar")
                    div.nav-text-item#text-rss(aria-label="rss-text" role="menuitem") rss 
        div.container.fadein
            header.folio-header Portfolio
                .folio-subtitle A Showcase of Projects I've Worked On
            .projects-container
                span.icons#folder-icon
                h1.folio-h1 Professional Experience
                .folio-divider
                .project-card
                    h2.project-header Siimee&trade;
                    h3.project-subheader February of 2023 to Present
                    a.project-link(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://siimee.com/") Visit Siimee&trade;
                    h4.project-about About Siimee
                    p.card.about-card "Siimee is a social impact company committed to reforming the recruiting and hiring process by reducing the biases that often occur."
                    h4.project-about My Involvement
                    p.card At Siimee, I filled many roles, including using JavaScript to program a series of essential features such as login and onboarding, as well as a series of chat features. Additionally, I researched existing recruiting and hiring platforms which contributed to UX/UI decisions made during the creation of the app.
                    h5.project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to docker" target="_blank" rel="noopener noreferrer" role="link" href="https://www.docker.com/").icons.tech-icons#docker-icon
                        a(aria-label="link to mariadb" target="_blank" rel="noopener noreferrer" role="link" href="https://mariadb.org/").icons.tech-icons#mariadb
                        a(aria-label="link to vuejs" target="_blank" rel="noopener noreferrer" role="link" href="https://vuejs.org/").icons.tech-icons#vuejs
                        a(aria-label="link to knexjs" target="_blank" rel="noopener noreferrer" role="link" href="https://knexjs.org/").icons.tech-icons#knexjs
                        a(aria-label="link to pugjs" target="_blank" rel="noopener noreferrer" role="link" href="https://pugjs.org/").icons.tech-icons#pugjs
                span.icons#folder-icon
                h1.folio-h1 Volunteer Work
                .folio-divider
                .project-card
                    h2.project-header Code for PDX
                    h3.project-subheader April of 2023 to Present
                    a.project-link(aria-label="link to code for pdx" target="_blank" rel="noopener noreferrer" role="link" href="https://www.codeforpdx.org/") Visit Code for PDX
                    h4.project-about About Code for PDX
                    p.card.about-card "As a Code for America Brigade, we're part of a national network of civic-minded volunteers who contribute their skills toward using the web as a platform for local government and community service."
                    h4.project-about My Involvement
                    p.card At Code for PDX, I was involved in working on their <a class="inline-link" aria-label="PASS project" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/codeforpdx/PASS">PASS project</a>. Currently still in early development, the PASS application utilizes <a class="inline-link" aria-label="solid project" target="_blank" rel="noopener noreferrer" role="link" href="https://solidproject.org/">Solid Data Pods</a> as decentralized data stores to digitally archive documents for housing insecure individuals. Thus far I have finished implementing securely transferring sensitive client data from scanned driver's license PDF417 barcodes into Solid Data Pods, utilizing the JavaScript version of the <a class="inline-link" aria-label="zxing-js github page" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/zxing-js/library">zxing barcode scanning library</a>.
                    h5.project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to solid project" target="_blank" rel="noopener noreferrer" role="link" href="https://solidproject.org/").icons.tech-icons#solidproject
                        a(aria-label="link to reactjs" target="_blank" rel="noopener noreferrer" role="link" href="https://react.dev/").icons.tech-icons#reactjs
                        a(aria-label="link to ecmascript" target="_blank" rel="noopener noreferrer" role="link" href="https://www.ecma-international.org/").icons.tech-icons#jsicon
                span.icons#folder-icon
                h1.folio-h1 Personal Projects
                .folio-divider
                .project-card
                    h2.project-header CityStats API
                    h3.project-subheader February of 2023 to Present
                    a.project-link(aria-label="link to citystats api" target="_blank" rel="noopener noreferrer" role="link" href="https://www.citystats.xyz/states") Visit CityStats API
                    a.project-link.project-repo-link(aria-label="link to citystats repository" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/city_stats") Source Code/Documentation
                    h4.project-about About CityStats API
                    p.card.about-card "CityStats API returns essential statistics about all 50 American states as well as the top most populous 229 cities in America."
                    h4.project-about Project Description
                    p.card I wrote CityStats as a way of easily accessing essential statistics about American cities and states. While the US census has its own API, I found it unintuitive and decided to write my own version. Utilizing python's <a class="inline-link" aria-label="link to beautiful soup docs" target="_blank" rel="noopener noreferrer" role="link" href="https://beautiful-soup-4.readthedocs.io/">Beautiful Soup Library</a>, I created a web scraping script. This script alongside GNU's cron command line utility, automatically updates the API's data each election cycle (with some human intervention to ensure accuracy). Using a NodeJS/Express server along with a SQLite database, I hosted this API on the Linode Cloud Platform (now Akamai), with the intention that it be used by the general public and developers.
                    h5.project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to gnu/bash" target="_blank" rel="noopener noreferrer" role="link" href="https://www.gnu.org/software/bash/").icons.tech-icons#bash-icon
                        a(aria-label="link to sqlite" target="_blank" rel="noopener noreferrer" role="link" href="https://www.sqlite.org/").icons.tech-icons#sqlite-icon
                        a(aria-label="link to nodejs" target="_blank" rel="noopener noreferrer" role="link" href="https://nodejs.org/").icons.tech-icons#nodejs
                        a(aria-label="link to linode/akamai" target="_blank" rel="noopener noreferrer" role="link" href="https://www.linode.com/").icons.tech-icons#akamai-icon
                        a(aria-label="link to python" target="_blank" rel="noopener noreferrer" role="link" href="https://www.python.org/").icons.tech-icons#python-icon
                .project-card
                    h2.project-header brianhayes.dev
                    h3.project-subheader May of 2023 to Present
                    a.project-link(aria-label="link to brianhayes.dev source code" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/brianhayes.dev") Source Code/Documentation
                    h4.project-about About This Website
                    p.card.about-card "You're currently visiting my personal portfolio website and blog! Inspired in part by the minimalist style of <a class="inline-link" aria-label="link to scribe" target="_blank" rel="noopener noreferrer" role="link" href="https://scribe.rip">Scribe</a>, this site is meant to invite you to take a look at some of my humble works and perhaps read one of my blog posts on software and other topics."
                    h4.project-about Project Description
                    p.card This blog is actually the third version of this website, which strives to be more readable and minimal than the previous two iterations. The last version of this blog, titled "LeafBytes", can still be found <a class="inline-link" aria-label="link to leafbytes blog" target="_blank" rel="noopener noreferrer" role="link" href="https://leafbytes.com">here</a>, preserved for purposes of posterity. The previous version had some nice CSS animations (and a fun CyberPunk theme!). While, the <a class="inline-link" aria-label="link to leafbytes repo" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/leafbytes_vue">source code</a> features some of my essential skills in VueJS, in the end I had to admit that some of my design choices were not acceptable for a professional site/blog (unreadable small font sizes and distracting backgrounds). It wasn't long before I found myself wanting to get back to basics with this iteration of my blog. 
                    p.card Thusly, this latest version of my website is written in simple HTML, CSS, and a small amount of JavaScript (okay okay, I used <a class="inline-link" aria-label="link to pugjs" target="_blank" rel="noopener noreferrer" role="link" href="https://pugjs.org/"> PugJS</a> instead of just pure HTML, but you get the idea &#128521;). It is running via an <a class="inline-link" aria-label="link to nginx docs" target="_blank" rel="noopener noreferrer" role="link" href="https://nginx.org/">NGINX server</a> hosted on an <a class="inline-link" aria-label="link to linode/akamai" target="_blank" rel="noopener noreferrer" role="link" href="https://www.linode.com/">Akamai/Linode Cloud instance</a>. All these icons you see can be credited to the awesome designers over at <a class="inline-link" aria-label="link to iconify" target="_blank" rel="noopener noreferrer" role="link" href="https://iconify.design/"> Iconify!</a>
                    h5.project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to ecmascript" target="_blank" rel="noopener noreferrer" role="link" href="https://www.ecma-international.org/").icons.tech-icons#jsicon
                        a(aria-label="link to official html spec" target="_blank" rel="noopener noreferrer" role="link" href="https://html.spec.whatwg.org/").icons.tech-icons#html-icon
                        a(aria-label="link to w3 specs on css" target="_blank" rel="noopener noreferrer" role="link" href="https://www.w3.org/TR/CSS/#css").icons.tech-icons#css-icon
                span.icons#info-icon
                h1.folio-h1 About Me
                .folio-divider
                picture(role="img" aria-label="image of Brian Hayes")
                    source(media="(min-width: 37.5em)" srcset="../assets/images/about/me_cropped.jpg")
                    img.intro-image(src="../assets/images/about/me_cropped_phone.jpg" alt="an image of the site author, Brian Hayes" cite="self portrait photo")
                .project-card
                    h4.project-about Welcome Traveler!
                    p.card My name is Brian Hayes and you've somehow stumbled across my humble little corner of the web while journeying along! Thanks for taking a look around. I hope you like what you see so far &#128535;.
                    h4.project-about My Story
                    p.card I've worn many hats in my short time on this small beautiful blue ball we call Earth, and I can tell you I've loved every role I've played. I've been a Son, a Student, a Teacher, an Artist, a Clerk, a Concierge, and an Athlete. The most recent hat I've put on has been that of a Programmer! Specifically that of a Full Stack Web Developer &#128512;!
                    p.card Inspired by my best friend/mentor, I took up learning the ins and outs of all things computers a little over 2 years ago. In one of my past lives I was a Digital Artist, so learning to code wasn't completely alien to me as I had more than a basic familiarity with computers working with Adobe Photoshop and Illustrator.
                    p.card During the COVID-19 pandemic, I was working as a Night Auditor at a prestigious hotel. The Hotel Industry wasn't doing too well during that time for obvious reasons, so there was a lot of dead periods during my shifts. Thusly I would find myself, in the dead of night, having all my other tasks completed very early. So...I would break out my laptop (installed with <a class="inline-link" aria-label="link to artix linux website" target="_blank" rel="noopener noreferrer" role="link" href="https://artixlinux.org/">an obscure Linux distro</a>), open up my <a class="inline-link" aria-label="link to neovim website" target="_blank" rel="noopener noreferrer" role="link" href="https://neovim.io/">NeoVim text editor</a> (like a boss &#128526;), and slowly but surely...I taught myself to code (with lots of feedback from my best friend/mentor of course!).
                    p.card Late in those evenings and early mornings, I would find myself just as engaged as when I was an Art Student... pouring over every detail, endeavoring to find the most natural, but also most efficient line. Computer Programming is probably the most challenging subject I've ever tried to tackle, but... I've worn many hats, engaged in many struggles, and have loved every moment of it all. Computer Programming, and by extension, Web Development, has been, and continues to be, no different.

                    h4.project-about Where I Am Now
                    p.card At the time of this writing, I am running around like a chicken with my head cut off &#128517;! Sometimes I find myself writing a bash script to automate a part of my terminal based workflow. Other times, I'll find myself preoccupied working at <a class="inline-link" aria-label="link to siimee" target="_blank" rel="noopener noreferrer" role="link" href="https://siimee.com/">my mentor's Startup company</a>, writing up documentation, adding new features, occassionally creating some... (ahem &#128563;...) <em>quashing</em> some bugs. 
                    p.card I also have signed up at a <a class="inline-link" aria-label="link to code for pdx" target="_blank" rel="noopener noreferrer" role="link" href="https://www.codeforpdx.org/">local Code for America branch</a>, where I volunteer my programming skills as a form of community service. My goals currently are to progress in many aspects of life, but specifically in gaining more knowledge about computers and computer programming, and to build a successful career in it!
                    p.card I invite you to take a look at <a class="inline-link" aria-label="blog" role="navigation" href="./blog.html">my blog</a>, where you will find articles that document my learning journey. Feel free to reach out to me via any of the contact/social media options as well! You can find the links to these located both above and below.
                    p.card And be well, Traveler... 
                    p.card Be Well!! ☮️
        footer(role="menu")
            div.foot-text
                ul.foot-text-menu(role="menu")
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-sun(aria-label="light-mode-text" role="menuitem") light
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-git(aria-label="git-text" role="menuitem") git
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-linkedin(aria-label="linkedin-text" role="menuitem") linkedin
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-mastodon(aria-label="mastodon-text" role="menuitem") social
                    li.foot-text-items(role="menubar")
                        div.foot-text-item#text-moon(aria-label="dark-mode-text" role="menuitem") dark
            div.foot-division
            ul.foot-menu(role="menubar")
                li.foot-items
                    button.footer-button#sun-button
                        div.icons#sun(aria-label="light-mode" role="button") light
                li.foot-items
                    a.icons#git(aria-label="git" role="link" target="_blank" rel="noopener noreferrer" href="https://github.com/tomit4") git
                li.foot-items
                    a.icons#linkedin(aria-label="linkedin" target="_blank" rel="noopener noreferrer" role="link" href="https://linkedin.com/in/brian-hayes-33496067") linkedin
                li.foot-items
                    a.icons#mastodon(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://mas.to/@brianhayesdev") social
                li.foot-items
                    button.footer-button#moon-button
                        div.icons#moon(aria-label="dark-mode" role="button") dark
        script(src="./index.js" default)
