doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="robots" content="follow, index, max-snippet:-1, max-image-preview:large")
        meta(name='description' content='A simple blog written by a Web Developer, for Web Developers. Covering Basics of HTML, CSS, JavaScript, and much more, including Linux and other subjects related to technology.')
        script(src="./toggle-temp.js")
        link(rel='icon' type='image/x-icon' href='assets/icons/favicon.png')
        link(rel='icon' type='application/rss+xml' title='RSS Feed' href='./assets/feed.rss')
        link(rel='stylesheet' type='text/css' href='css/folio.css')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel="preload" href="css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel="stylesheet" href="css/style.css")
    body
        nav
            ul.nav-menu(role="menu")
                li.nav-items(role="menuitem")
                    a.icons#contact(aria-label="email" role="navigation" href="mailto: brianhayes.dev@protonmail.com") contact
                li.nav-items(role="menuitem")
                    a.icons#folio(aria-label="folio" role="navigation" href="./folio.html") folio
                li.nav-items(role="menuitem")
                    a.icons#home(aria-label="home" role="navigation" href="/") home
                li.nav-items(role="menuitem")
                    a.icons#blog(aria-label="blog" role="navigation" href="./blog/") blog
                li.nav-items(role="menuitem")
                    a.icons#rss(aria-label="rss" role="navigation" href="./assets/feed.rss") rss
        div.nav-division
        div.nav-text
            ul.nav-text-menu(role="none")
                li.nav-text-items(role="none")
                    div.nav-text-item#text-contact(aria-label="email" role="none") email
                li.nav-text-items(role="none")
                    div.nav-text-item#text-folio(aria-label="folio-text" role="none") folio
                li.nav-text-items(role="none")
                    div.nav-text-item#text-home(aria-label="home-text" role="none") home
                li.nav-text-items(role="none")
                    div.nav-text-item#text-blog(aria-label="blog-text" role="none") blog
                li.nav-text-items(role="none")
                    div.nav-text-item#text-rss(aria-label="rss-text" role="none") rss 
        main.container.fadein.demo-button.folio
            header.folio-header Portfolio
                .folio-subtitle A Showcase of Projects I've Worked On
                .folio-edited-date Updated February of 2024
                .folio-resume <a class="inline-link" aria-label="a link to my resume on proton drive" target="_blank" rel="noopener noreferrer" role="link" href="https://drive.proton.me/urls/23SKA78SAC#n-iKwqJTF3Jb">Resume</a>
            .projects-container
                span.icons#folder-icon
                h1.folio-h1 Work Experience
                .folio-divider
                .project-card
                    h2.project-header Siimee&trade;
                    h3.project-subheader February of 2023 to February of 2024
                    a.project-link(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://siimee.com/") Visit Siimee&trade;
                    h4.project-about About Siimee
                    p.card.about-card "Siimee is a social impact company committed to reforming the recruiting and hiring process by reducing the biases that often occur."
                    h4.project-about My Involvement
                    p.card At Siimee, I filled many roles. As a Full Stack Web Developer, I engineered a series of features such as Login and Onboarding, creating and streamlining the Sign Up and Authentication process using JSON Web Tokens. I also contributed to Siimee's In Application Chat feature, specifically implementing its incremental privacy settings while in chat. I also finalized a series of Unit Tests utilizing the Ava Testing Suite, achieving 100% code coverage. Lastly, I also contributed to Siimee in a Research capacity, investigating and compiling data around recruiting and hiring platforms which contributed to our UX implementation.
                    .project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to docker" target="_blank" rel="noopener noreferrer" role="link" href="https://www.docker.com/").icons.tech-icons#docker-icon
                        a(aria-label="link to mariadb" target="_blank" rel="noopener noreferrer" role="link" href="https://mariadb.org/").icons.tech-icons#mariadb
                        a(aria-label="link to vuejs" target="_blank" rel="noopener noreferrer" role="link" href="https://vuejs.org/").icons.tech-icons#vuejs
                        a(aria-label="link to knexjs" target="_blank" rel="noopener noreferrer" role="link" href="https://knexjs.org/").icons.tech-icons#knexjs
                        a(aria-label="link to pugjs" target="_blank" rel="noopener noreferrer" role="link" href="https://pugjs.org/").icons.tech-icons#pugjs
                span.icons#folder-icon
                h1.folio-h1 Volunteer Work
                .folio-divider
                .project-card
                    h2.project-header Code PDX 
                    h3.project-subheader April of 2023 to June of 2023
                    a.project-link(aria-label="link to code for pdx" target="_blank" rel="noopener noreferrer" role="link" href="https://www.codepdx.org/") Visit Code PDX
                    h4.project-about About Code PDX
                    p.card.about-card "As a Code for America Brigade, we're part of a national network of civic-minded volunteers who contribute their skills toward using the web as a platform for local government and community service."
                    h4.project-about My Involvement
                    p.card At Code PDX (formerly Code For PDX), I was involved in working on their <a class="inline-link" aria-label="PASS project" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/codeforpdx/PASS">PASS project</a>. The PASS application utilizes <a class="inline-link" aria-label="solid project" target="_blank" rel="noopener noreferrer" role="link" href="https://solidproject.org/">Solid Data Pods</a> as decentralized data stores to digitally archive documents for individuals in the PDX area who had recently found themselves housing insecure. While my time at Code PDX was brief, I contributed to their PASS project by implementing the secure transfer of sensitive client data from scanned Driver's License. In scanning the Driver's License's PDF417 barcodes into Solid Data Pods (utilizing the JavaScript version of the <a class="inline-link" aria-label="zxing-js github page" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/zxing-js/library">zxing barcode scanning library</a>), this tool assisted PDX Social Workers with quickly and securely storing and retrieving sensitive but essential documents for those facing housing insecurity.
                    .project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to solid project" target="_blank" rel="noopener noreferrer" role="link" href="https://solidproject.org/").icons.tech-icons#solidproject
                        a(aria-label="link to reactjs" target="_blank" rel="noopener noreferrer" role="link" href="https://react.dev/").icons.tech-icons#reactjs
                        a(aria-label="link to ecmascript" target="_blank" rel="noopener noreferrer" role="link" href="https://www.ecma-international.org/").icons.tech-icons.jsicon
                span.icons#folder-icon
                h1.folio-h1 Personal Projects
                .folio-divider
                .project-card
                    h2.project-header CityStats API
                    h3.project-subheader August of 2023 to February of 2024
                    a.project-link(aria-label="link to citystats.info" target="_blank" rel="noopener noreferrer" role="link" href="https://www.citystats.info") Visit CityStats Docs
                    a.project-link.project-repo-link(aria-label="link to citystats repository" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/CityStats") Source Code/Documentation
                    h4.project-about About CityStats API
                    p.card.about-card "CityStats is a REST API that allows users to easily access the latest and most up-to-date information about American cities and states."
                    h4.project-about Project Description
                    p.card I wrote CityStats as a way of easily accessing essential statistics about American cities and states. While the US census has its own API, I found it unintuitive and decided to write my own version. Utilizing Python's <a class="inline-link" aria-label="link to beautiful soup docs" target="_blank" rel="noopener noreferrer" role="link" href="https://beautiful-soup-4.readthedocs.io/">Beautiful Soup Library</a>, I created a series of web scraping scripts that grabbed data from public resources like <a class="inline-link" aria-label="link to wikipedia" target="_blank" rel="noopener noreferrer" role="link" href="https://www.wikipedia.org">Wikipeda</a> and City Government Websites. These scripts are periodically run to update and populate an SQLite database, which is then served to the web via Fastify/NodeJS, Docker, and NGINX. Additionally I provided interactive Documentation utilizing the React Library. You can learn how to use CityStats <a class="inline-link" aria-label="link to citystats.info" target="_blank" rel="noopener noreferrer" role="link" href="https://www.citystats.info">here</a>. The infrastructure serving CityStats to the World Wide Web is the Linode/Akamai Cloud.
                    .project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to sqlite" target="_blank" rel="noopener noreferrer" role="link" href="https://www.sqlite.org/").icons.tech-icons#sqlite-icon
                        a(aria-label="link to fastify" target="_blank" rel="noopener noreferrer" role="link" href="https://www.fastify.dev/").icons.tech-icons#fastify-icon
                        a(aria-label="link to reactjs" target="_blank" rel="noopener noreferrer" role="link" href="https://react.dev/").icons.tech-icons#reactjs
                        a(aria-label="link to docker" target="_blank" rel="noopener noreferrer" role="link" href="https://www.docker.com/").icons.tech-icons#docker-icon
                        a(aria-label="link to python" target="_blank" rel="noopener noreferrer" role="link" href="https://www.python.org/").icons.tech-icons#python-icon
                .project-card
                    h2.project-header Auther
                    h3.project-subheader December of 2023 to January of 2024
                    a.project-link(aria-label="link to citystats.info" target="_blank" rel="noopener noreferrer" role="link" href="https://www.auther.online") Visit Auther
                    a.project-link.project-repo-link(aria-label="link to auther repository" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/Auther") Source Code/Documentation
                    h4.project-about About Auther
                    p.card.about-card "Auther is a  Proof Of Concept project off of which to scaffold any application needing JWT authentication."
                    h4.project-about Project Description
                    p.card Auther is a scaffolding project which demonstrates the basic concepts around authentication using JSON Web Tokens and 2 factor authentication using transactional emails. Meant to be put in front of any application, Auther aims to provide the basic features of authentication (sign up, login, forgot password, change password, delete profile) that users have come to expect to be a part of any modern day application.
                    p.card Utilizing TypeScript, Fastify, VueJS, Redis, and PostGreSQL, Auther provides a demonstration of how to utilize JSON Web Tokens for modern day web applications. Note that Auther is meant only to be utilized as a Proof Of Concept (there are obviously far more robust authentication solutions that are more suitable for real world applications). Nevertheless this project demonstrates the essential logic common in authenticating using JSON Web Tokens.
                    .project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to postgresql" target="_blank" rel="noopener noreferrer" role="link" href="https://www.postgresql.org/").icons.tech-icons#postgresql-icon
                        a(aria-label="link to fastify" target="_blank" rel="noopener noreferrer" role="link" href="https://www.fastify.dev/").icons.tech-icons#fastify-icon
                        a(aria-label="link to jwt.io" target="_blank" rel="noopener noreferrer" role="link" href="https://jwt.io/").icons.tech-icons#jwt-icon
                        a(aria-label="link to redis.io" target="_blank" rel="noopener noreferrer" role="link" href="https://redis.io/").icons.tech-icons#redis-icon
                        a(aria-label="link to typescriptlang.org" target="_blank" rel="noopener noreferrer" role="link" href="https://www.typescriptlang.org/").icons.tech-icons#typescript-icon
                .project-card
                    h2.project-header brianhayes.dev
                    h3.project-subheader May of 2023 to Present
                    a.project-link(aria-label="link to brianhayes.dev source code" target="_blank" rel="noopener noreferrer" role="link" href="https://github.com/tomit4/brianhayes.dev") Source Code/Documentation
                    h4.project-about About This Website
                    p.card.about-card "You're currently visiting my personal portfolio website and blog! Inspired in part by the minimalist style of <a class="inline-link" aria-label="link to scribe" target="_blank" rel="noopener noreferrer" role="link" href="https://scribe.rip">Scribe</a>, this site is meant to invite you to take a look at some of my humble works and perhaps read one of my blog posts on software and other topics."
                    h4.project-about Project Description
                    p.card This website is actually in its third iteration, which strives to be more readable and minimal than the previous two. The last version of this website, titled "LeafBytes", can still be found <a class="inline-link" aria-label="link to leafbytes blog" target="_blank" rel="noopener noreferrer" role="link" href="https://leafbytes.com">here</a>, kept online for purposes of posterity. The previous version had some nice CSS animations (and a fun CyberPunk theme! &#128526;).
                    p.card Despite my fondness for this original version of my website, I quickly found myself wanting to rewrite it from scratch, as I had a more minimalistic design in mind and had learned to appreciate a more simple and clean approach.
                    p.card Thusly, this latest version of my website is written in simple HTML, CSS, and a small amount of JavaScript (okay okay, I used <a class="inline-link" aria-label="link to pugjs" target="_blank" rel="noopener noreferrer" role="link" href="https://pugjs.org/"> PugJS</a> instead of just pure HTML, but you get the idea &#128521;). It is running via an <a class="inline-link" aria-label="link to nginx docs" target="_blank" rel="noopener noreferrer" role="link" href="https://nginx.org/">NGINX server</a> hosted on an <a class="inline-link" aria-label="link to linode/akamai" target="_blank" rel="noopener noreferrer" role="link" href="https://www.linode.com/">Akamai/Linode Cloud instance</a>. All these icons you see can be credited to the awesome designers over at <a class="inline-link" aria-label="link to iconify" target="_blank" rel="noopener noreferrer" role="link" href="https://iconify.design/"> Iconify!</a>
                    .project-tech-used Dev Stack
                    .project-tech-stack
                        a(aria-label="link to ecmascript" target="_blank" rel="noopener noreferrer" role="link" href="https://www.ecma-international.org/").icons.tech-icons.jsicon
                        a(aria-label="link to official html spec" target="_blank" rel="noopener noreferrer" role="link" href="https://html.spec.whatwg.org/").icons.tech-icons#html-icon
                        a(aria-label="link to w3 specs on css" target="_blank" rel="noopener noreferrer" role="link" href="https://www.w3.org/TR/CSS/#css").icons.tech-icons#css-icon
                span.icons#info-icon
                h1.folio-h1 About Me
                .folio-divider
                picture(role="img" aria-label="image of Brian Hayes")
                    source(media="(min-width: 37.5em)" srcset="../assets/images/about/me_cropped.jpg")
                    img.about-img(src="../assets/images/about/me_cropped_phone.jpg" alt="an image of the site author, Brian Hayes" cite="self portrait photo")
                .project-card
                    h4.project-about Welcome Traveler!
                    p.card My name is Brian Hayes and you've somehow stumbled across my humble little corner of the web while journeying along! Thanks for taking a look around. I hope you like what you see so far &#128535;.
                    h4.project-about My Story
                    p.card I've worn many hats in my short time on this small beautiful blue ball we call Earth, and I can tell you I've loved every role I've played. I've been a Son, a Student, a Teacher, an Artist, a Clerk, a Concierge, and an Athlete. The most recent hat I've put on has been that of a Programmer! Specifically that of a Full Stack Web Developer &#128512;!
                    p.card Inspired by my best friend/mentor, I took up learning the ins and outs of all things computers a little over 3 years ago. In one of my past lives I was a Digital Artist, so learning to code wasn't completely alien to me as I had gained more than a basic familiarity with computers while working with Adobe Photoshop and Illustrator.
                    p.card During the COVID-19 pandemic, I was working as a Night Auditor at a prestigious hotel in Downtown Los Angeles. The Hotel Industry wasn't doing too well during that time for obvious reasons, so there was a lot of dead periods during my shifts. Thusly I would find myself, in the dead of night, having all my other tasks completed very early. 
                    p.card In those quiet periods, with my work done until our doors would open come sunrise, I would break out my laptop (installed with <a class="inline-link" aria-label="link to artix linux website" target="_blank" rel="noopener noreferrer" role="link" href="https://artixlinux.org/">an obscure Linux distro</a>), open up my <a class="inline-link" aria-label="link to neovim website" target="_blank" rel="noopener noreferrer" role="link" href="https://neovim.io/">NeoVim text editor</a> (like a boss &#128526;), and slowly but surely...I taught myself to code (with lots of feedback from my best friend/mentor of course!).
                    p.card As my journey into the code delved deeper, I would find myself just as engaged as when I was an Art Student... pouring over every detail, endeavoring to find the most natural, but also most efficient line. Computer Programming is probably the most challenging subject I've ever tried to tackle. That said, I have never backed away from a challenge, and have consistently devoted myself to always push forward, and become better than I was the day before at whatever skillset I have committed to learn. Computer Programming, and by extension, Web Development, has been, and continues to be, no different.

                    h4.project-about Where I Am Now
                    p.card At the time of this writing (February of 2024), I am continuing to keep my skills sharp. Having recently completed my personal project <a class="inline-link" aria-label="link to citystats.info" target="_blank" rel="noopener noreferrer" role="link" href="https://www.citystats.info">CityStats</a>, I am now preparing to brush up my Computer Science basics by diving deep into the subject of Data Structures and Algorithms. I am also researching essential topics to my field, reading the <a class="inline-link" aria-label="link to the TCP/IP Guide from No Starch Press" target="_blank" rel="noopener noreferrer" role="link" href="https://nostarch.com/tcpip.htm">TCP/IP Guide</a> from No Starch Press. Lastly I'm also planning my next personal project, a Two Player Video Game utilizing the WebSockets protocol, so keep an eye out for that in the future! &#128578;
                    p.card While you're here, I invite you to take a look at <a class="inline-link" aria-label="a link to my resume on proton drive" target="_blank" rel="noopener noreferrer" role="link" href="https://drive.proton.me/urls/23SKA78SAC#n-iKwqJTF3Jb">my resume</a> if you're interested in working with me. Additionally, please feel free to peruse around <a class="inline-link" aria-label="blog" role="navigation" href="./blog.html">my blog</a>, where you will find articles that document my learning journey. You can also reach out to me via any of the email/social media links found above and below!
                    p.card Be Well, Traveler! ☮️
        div.foot-arrows
            button.icons#up-arrow(title="back to top" aria-label="back-to-top" alt="back to top" role="navigation")
        footer
            div.foot-text
                ul.foot-text-menu(role="none")
                    li.foot-text-items(role="none")
                        div.foot-text-item#text-sun(aria-label="light-mode-text" role="none") light
                    li.foot-text-items(role="none")
                        div.foot-text-item#text-git(aria-label="git-text" role="none") git
                    li.foot-text-items(role="none")
                        div.foot-text-item#text-linkedin(aria-label="linkedin-text" role="none") linkedin
                    li.foot-text-items(role="none")
                        div.foot-text-item#text-mastodon(aria-label="mastodon-text" role="none") social
                    li.foot-text-items(role="none")
                        div.foot-text-item#text-moon(aria-label="dark-mode-text" role="none") dark
            div.foot-division
            ul.foot-menu(role="menu")
                li.foot-items(role="menuitem")
                    button.footer-button#sun-button
                        div.icons#sun(aria-label="light-mode" role="button") light
                li.foot-items(role="menuitem")
                    a.icons#git(aria-label="git" role="link" target="_blank" rel="noopener noreferrer" href="https://github.com/tomit4") git
                li.foot-items(role="menuitem")
                    a.icons#linkedin(aria-label="linkedin" target="_blank" rel="noopener noreferrer" role="link" href="https://linkedin.com/in/brian-hayes-33496067") linkedin
                li.foot-items(role="menuitem")
                    a.icons#mastodon(aria-label="social" target="_blank" rel="noopener noreferrer" role="link" href="https://mas.to/@brianhayesdev") social
                li.foot-items(role="menuitem")
                    button.footer-button#moon-button
                        div.icons#moon(aria-label="dark-mode" role="button") dark
        script(src="./index.js" defer default)
        script(data-goatcounter="https://770zjco994espvxwibsva.goatcounter.com/count" async src="//gc.zgo.at/count.js")
