doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        h1 Home Page
        a(aria-label="about" role="link" href="./about.html") About Page
        article.container
            p A basic paragraph tag in home page
            pre 
               code // some comment&#10 something.foreach(wow => {&#10    console.log('wow');&#10 )}
html
