doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        nav
            a(aria-label="about" role="link" href="./about.html") About Page
        div.title
            div.title-card
                h1 One With The Keyboard
                div.subtitle A Necessary Prerequisite
                div.aside Published on 2023-05-08
            blockquote(cite="https://www.brainyquote.com") "What I was proud of was that I used very few parts to build a computer that could actually speak words on a screen and type words on a keyboard and run a programming language that could play games. And I did all this myself."
                    div.quote_author -Steve Wozniak
        article
            p A basic paragraph tag in home page that just keeps going until the end of time. It just doesn't stop wow! What a paragraph tag!
            pre 
               code // somefile.js&#10 something.foreach(wow => {&#10    console.log('wow');&#10 )}
        footer
            a(aria-label="about" role="link" href="./about.html") About Page
html



