doctype html
html(lang = "en")
    head
        title brianhayes.dev
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='css/style.css')
    body
        nav
            ul.nav-menu
                li.nav-items
                    a#contact(aria-label="email" role="link" href="mailto: leafbytes@protonmail.com")
                li.nav-items
                    a#about(aria-label="about" role="link" href="about")
                li.nav-items
                    a#home(aria-label="about" role="link" href="./")
                li.nav-items
                    a#blog(aria-label="blog" role="link" href="./blog.html")
                li.nav-items
                    a#rss(aria-label="rss" role="link" href="./feed.rss")
            div.nav-division
        div.title
            div.title-card
                h1 One With The Keyboard
                div.subtitle A Necessary Prerequisite
                div.aside Published on 2023-05-08
            blockquote(cite="https://www.brainyquote.com") "What I was proud of was that I used very few parts to build a computer that could actually speak words on a screen and type words on a keyboard and run a programming language that could play games. And I did all this myself."
                    div.quote_author -Steve Wozniak
        article
            p A basic paragraph tag in home page that just keeps going until the end of time. It just doesn't stop wow! What a paragraph tag!
            pre 
               code // somefile.js&#10 something.foreach(wow => {&#10    console.log('wow');&#10 )}
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        footer
            div.foot-division
            ul.foot-menu
                li.foot-items
                    div#sun(aria-label="light-mode" onclick="toggleLight()")
html



